@import "tailwindcss";

@theme {
  --font-logo: var(--font-logo);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --color-primary: #607e72;
  --color-secondary: #eaedec;
  --color-tertiary: var(--color-gray-400);
}
